---
{{ frontmatter | toyaml }}
---

{{ tool.description }}

```http
{{ tool.method | upper | default('GET') }} {{ tool.path | default('') }}
```

{% if tool.parameters %}
## Parameters

```json
{{ tool.parameters | tojson }}
```

{% endif %}
{% if tool.response_schema %}
## Response Schema

```json
{{ tool.response_schema | tojson }}
```

{% endif %}