@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600&display=swap");

@config "../../tailwind.config.js";

@import "tailwindcss" prefix(ocp);

@custom-variant dark (&:where(.dark, .dark *));

@import "./ocp-badges.source.css";
@import "./ocp-cards.source.css";
@import "./ocp-syntax.source.css";
